/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS below */

body, html {
	height: 100%;
	display: grid;
}

body {
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-color: #0f161f;
}

.conversion-card, .conversion-card > *, .conversion-group {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.conversion-card {
  max-width: 34rem;
	width: calc(100vw - 2rem);
	margin: auto;
  text-align: center;
  gap: 1rem;
}

.conversion-card > * {
  --squircle-radius: 12px;
	--squircle-smooth: 0.3;
  -webkit-mask: paint(squircle);
	mask: paint(squircle);
}

.conversion-card header {
  padding: 3.5rem;
  gap: 1.5rem;
  background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.title {
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 800;
}

#conversion-value {
  background: unset;
  border: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  font-size: 6rem;
  font-weight: 800;
  font-family: inherit;
  height: 6rem;
  letter-spacing: -0.05em;
}

#conversion-value:focus {
  outline: none;
}

#conversion-value::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.conversion-card main {
  padding: 2.5rem;
  gap: 1.5rem;
  background: #1F2937;
}

.conversion-group {
  gap: 0.5rem;
}

.conversion-header {
  font-weight: 600;
}

.conversion-result {
  color: #929ba8;
}
